<div class="panel-body">
    <div class="row">
        <div class="col-xs-12">
            <app-list-edit-tag></app-list-edit-tag>
            <div class="col-xs-6">
                <ul class="class-group">
                    <a class="list-group-item" *ngFor="let ingred of ingredients">
                        <span>{{ ingred.name }}</span>
                        <small> ({{ ingred.amount }})</small>
                    </a>
                </ul>
            </div>
        </div>
    </div>
</div>
