<div class="container">
  <div class="row">
    <app-header></app-header>
  </div>
  <div class="row">
    <div class="row">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="col-xs-6">
            <app-recipe-list-tag></app-recipe-list-tag>
          </div>
          <div class="col-xs-6">
            <app-recipe-details-tag></app-recipe-details-tag>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="col-xs-12">
            <app-shopping-list-tag></app-shopping-list-tag>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>